@if (ViewBag.customerPayments == null)
{
    <p>No payments found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Recharge ID</th>
                <th>Amount</th>
                <th>Plan Name</th>
                <th>Validity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in ViewBag.customerPayments)
            {
                <tr>
                    <td>@result.Recharge.Id</td>
                    <td>@result.MobilePlan.Amount</td>
                    <td>@result.MobilePlan.PlanName</td>
                    <td>@result.MobilePlan.NoOfMonths months</td>
                </tr>
            }
        </tbody>
    </table>
}