<!DOCTYPE html>
<html>
<head>
	<title>View with Heading and Image</title>
	<style type="text/css">
		.container-local {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 70vh;
		}

		.heading-local {
			flex-grow: 1;
			text-align: center;
			font-size: 36px;
			font-weight: bold;
			padding: 20px;
		}

		.image {
			flex-grow: 1;
			text-align: center;
		}

			.image img {
				max-width: 100%;
				max-height: 100%;
			}
	</style>
</head>
<body>
	<div class="container-local">
		<div class="heading-local">
			Recharge!
			<a class="btn" asp-area="" asp-controller="MobilePlans" asp-action="Index">Pay now</a>

		</div>

	</div>

</body>
</html>