


@if (!User.IsInRole("Admin"))
{
    <h2 class="py-5">What would you like to listen today?</h2>
}
else
{
    <h2 class ="py-5">Admin Controls</h2>

}

<div class="row">
    <div class="col-md-4">
        @Html.DropDownList("Genre", (IEnumerable<SelectListItem>)ViewBag.Genres, "All genres", new {@class="form-control"})
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" id="search" name="search" placeholder="Search by letter...">
    </div>
    <div class="col-md-2">
        @if (User.IsInRole("Admin"))
        {
                <a asp-action="Create" class="btn text-dark">+ Add New</a>
            
        }
    </div>
</div>

<div id="search-res">
    @await Html.PartialAsync("_SongList", Model, new ViewDataDictionary(ViewData) {{ "SearchResults", ViewBag.SearchResults }})
</div>

@section scripts {
    <script>
        $(function () {
            $('#search').on('input change', function () {
                var searchQuery = $(this).val();
                var selectedGenre = $("#Genre").val();
                $.ajax({
                    url: '@Url.Action("Search", "Songs")',
                    type: 'GET',
                    data: { search: searchQuery, genre: selectedGenre },
                    success: function (result) {
                        $('#search-res').html(result);
                    }
                });
            });
        });

        $(function () {
            $('#Genre').on('change', function () {
                var searchQuery = $('#search').val();
                var selectedGenre = $(this).val();
                $.ajax({
                    url: '@Url.Action("Search", "Songs")',
                    type: 'GET',
                    data: { search: searchQuery, genre: selectedGenre },
                    success: function (result) {
                        $('#search-res').html(result);
                    }
                });
            });
        });


    </script>
}