<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="row">
    <div class="col-md-4">
        @Html.DropDownList("Genre", (IEnumerable<SelectListItem>)ViewBag.Genres, "Select genre", new {@class="form-control"})
    </div>
    <div class="col-md-8">
        <input type="text" class="form-control" id="search" name="search" placeholder="Search by letter...">
    </div>
</div>

<div id="search-res">
    @await Html.PartialAsync("_SongList", Model, new ViewDataDictionary(ViewData) {{ "SearchResults", ViewBag.SearchResults }})
</div>

@section scripts {
    <script>
        $(function () {
            $('#search').on('input change', function () {
                var searchQuery = $(this).val();
                var selectedGenre = $("#Genre").val();
                $.ajax({
                    url: '@Url.Action("Search", "Songs")',
                    type: 'GET',
                    data: { search: searchQuery, genre: selectedGenre },
                    success: function (result) {
                        $('#search-res').html(result);
                    }
                });
            });
        });

        $(function () {
            $('#Genre').on('change', function () {
                var searchQuery = $('#search').val();
                var selectedGenre = $(this).val();
                $.ajax({
                    url: '@Url.Action("Search", "Songs")',
                    type: 'GET',
                    data: { search: searchQuery, genre: selectedGenre },
                    success: function (result) {
                        $('#search-res').html(result);
                    }
                });
            });
        });


    </script>
}